@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
    --max_width_main: 1100px;
    --max_width_percent_main: 100%;
    --dirty-white-color : #EEEFF1;
    --white-color : #FFFFFF;
    --blue-color : #34547A;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 0;
    transition: 0.3s;
    list-style: none;
}

.page-wrap {
    max-width: 1920px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.col-center {
    align-items: center;
}

.row-center {
    justify-content: center;
}

.header-container {
    background-color: var(--dirty-white-color);
}

.input-max-width {
    max-width: var(--max_width_main);
    width: var(--max_width_percent_main);
}

.first-main-block {
    padding: 0 20px;
}

.header-nav {
    padding: 79px 0;
    gap: 42px;
}

.link-header {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

.link-header:hover {
    color: var(--blue-color);
}

.header-main {
    padding: 83px 0 141px 0;
}

.header-text-main {
    gap: 60px;
}

.big-text {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.text {
    max-width: 540px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.btn {
    max-width: 229px;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--white-color);
    padding: 20px 41px;
    background-color: var(--blue-color);
    border : 0;
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.middle-center {
    padding: 112px 20px 100px;
    width: 100%;
    gap: 50px;
}

.center-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.txt-center {
    text-align: center;
}

.blue {
    background-color: var(--blue-color);
}

.blue-middle-projects {
    padding: 100px 20px;
}

.project-list {
    gap: 43px;
}

.project-container {
    gap :20px
}

.text-count-project {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--white-color);
}

.project-txt {
    font-size: 16px;
    line-height: 26px;
    color: var(--white-color);
}

.dirty-white {
    background-color: var(--dirty-white-color);
}

.video {
    max-height: 600px;
    height: 65vh;
    box-shadow: black 1px 1px 10px 10px;
    border-radius: 25px;
}

.footer-content {
    padding: 50px 20px;
    gap: 20px;
}

.name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--white-color);
}

.text-copyright {
    font-size: 13px;
    line-height: 21px;
    color: var(--white-color);
}

